/*this allows you to select the class .blue_background and search inside that class for .secondary-heading*/
.blue_background {
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 48px;
  color: #3498db;
  letter-spacing: 1px;
  text-align: center;
}

img {
  float: left;
  width: 30%;
  margin: 1.5%;
  display: inline-block;
}

footer {
  border-top: 2px solid #3498db;
  text-align: right;

}

p {
  font-family: "Bookman Old Style";
  text-align: justify;
}

h2 {
  color: #3498db;
}

li {
  display: inline;
  font-size: 18px;
  color: dimgray;
  padding: 8.5%;
  text-decoration: underline;
}

body {
  border: 10px solid dimgray;
}