body {
  margin: 0px;
  padding: 0px;
  height: 0px;
}

h1 {font-family: fantasy;
  font-size: 48px;
  color: green;
  letter-spacing: 2px;
  text-align: center;
}

h2 {
  font-family: monospace;
  color: white;
  border: solid 2px green;
}

.blue_background {
  background: blue;
}

.green_background {
  background: green;
}

/*this allows you to select the class .blue_background and search inside that class for .secondary-heading*/
.blue_background .secondary-heading {
  line-height: 25px;
  padding: 18px;
}
